 <p>Below will be your Posts, if its empty so your collection post is empty </p>
<div class="container">
    <mat-accordion>
      <!-- <mat-expansion-panel *ngFor = "let book of books"> -->
        <p *ngIf= "!(articles$ | async)"  >Loading...</p>    <!-- מראה טעינה בזמן ש books$ -->
          <mat-expansion-panel *ngFor = "let article of articles$ | async" >  <!-- רישום לאובסרבל -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{article.doc}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        Category: {{article.category}}<br><br>
        <button mat-raised-button color="primary" (click)="deleteArticle(article.id)" >Delete</button>
        <button mat-raised-button color="primary"  [routerLink]="'/article_edit/'+article.id" >Edit</button>
        <mat-card-actions>
          <button mat-button (click)="onClick()">LIKE {{count !=0 ? count: ''}}</button>   <!-- if <condition> ?=else-->
          <!--<button mat-button>SHARE</button>-->
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  

  
  
  