<div class="create-form">
  <h1>Posts Details:</h1>
  <form #articleForm= "ngForm" (ngSubmit)="createArticle()">
    <label><b>Article's doc:</b></label><br>
      <mat-form-field>
        <input matInput [(ngModel)] = "doc" 
          type="text" 
          #doc_name
          name = "newDoc"
          placeholder="Doc's title"
          required>
      </mat-form-field>
      <br><br>
        <br>
        <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!articleForm.valid">{{buttonText}}</button>
  </form>
</div>
