<mat-card>
  <h1>Please write your post  </h1>
  <form #classifyForm="ngForm" (ngSubmit)="docFormSubmit()">
    <div class="example-container"> 
      <mat-form-field style="width: 400px;">
          <textarea 
              matInput placeholder="write your post here"
              [(ngModel)] = "text"
              name = "text"
              cdkTextareaAutosize
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="20"                            
              required
          >
          </textarea>      
      </mat-form-field>                   
      <div >
          <button mat-raised-button color="primary" [disabled]="!classifyForm.valid">share</button>
      </div>
    </div>
  </form>
 
  </mat-card>